hw0-windows/.vs/
hw1-windows/.vs/
hw2-windows/.vs/
hw3-windows/.vs/
hw3-windows/hw3-windows/.vs/
hw2-windows/packages/
hw0-windows/packages/
hw1-windows/packages/
hw3-windows/hw3-windows/packages/
hw3-windows/hw3-windows/Debug/
mytest-windows/
hw3-windows/
*.jpg